# 1. Définition du Problème et Objectifs

## Contexte et Pertinence

Dans un contexte mondial où la gestion efficace de l'énergie est devenue une priorité cruciale, notre projet vise à analyser la consommation d'énergie par département dans différents secteurs en France. L'objectif est de fournir une compréhension approfondie des modèles de consommation énergétique, qui est essentielle pour orienter les politiques énergétiques, promouvoir la durabilité et optimiser les ressources. Ce projet est particulièrement pertinent étant donné les défis actuels liés au changement climatique et à la transition énergétique. En examinant les données de consommation énergétique à l'échelle des communes, nous pouvons identifier des tendances spécifiques, des anomalies et des opportunités d'amélioration. Cela permettra aux décideurs, aux entreprises et aux consommateurs de prendre des mesures éclairées pour réduire la consommation d'énergie, améliorer l'efficacité énergétique et favoriser l'adoption d'énergies renouvelables. En outre, ce projet contribue à une meilleure compréhension des disparités régionales en matière de consommation d'énergie, offrant ainsi une perspective précieuse pour des interventions ciblées et personnalisées.

## Objectifs du Projet

Notre projet, au cœur de l'intersection entre technologie, environnement et société, se fixe des objectifs ambitieux et significatifs :

**Cartographie de la Consommation Énergétique :** Notre premier objectif est de dresser une carte précise de la consommation d'énergie dans les différents départements français. En mettant en lumière ces données, nous souhaitons offrir une vision claire et détaillée de la répartition énergétique sur le territoire.

**Identification des Tendances et Anomalies :** Nous visons à décrypter les tendances sous-jacentes et à détecter d'éventuelles anomalies dans les habitudes de consommation énergétique. Cela permettra de comprendre les pratiques énergétiques actuelles et d'identifier les zones à haut potentiel d'amélioration.

**Analyse Comparative par Secteur :** Un autre objectif crucial est de comparer la consommation énergétique entre différents secteurs (résidentiel, industriel, commercial, etc.). Cela aidera à cerner les secteurs les plus énergivores et à envisager des stratégies d'optimisation.

**Prédiction des Tendances Futures :** Nous ambitionnons de développer des modèles prédictifs pour anticiper les évolutions futures de la consommation d'énergie. Ces prévisions seront essentielles pour planifier des stratégies énergétiques à long terme.

**Contribution à la Durabilité :** En offrant une compréhension approfondie de la consommation d'énergie, le projet aspire à contribuer activement à des initiatives de développement durable. Les insights générés pourraient inspirer des actions concrètes pour réduire l'empreinte énergétique.

**Support aux Décisions Politiques et Commerciales :** Fournir des données et des analyses fiables pour éclairer les décisions politiques et commerciales en matière de gestion de l'énergie. Cela inclut la recommandation de politiques efficaces et la sensibilisation aux meilleures pratiques en matière de consommation énergétique.

**Sensibilisation et Éducation :** Enfin, nous souhaitons utiliser nos résultats pour sensibiliser le public et les décideurs aux enjeux de la consommation d'énergie. L'objectif est de promouvoir une culture de consommation énergétique responsable et informée.

## Aspects techniques

### Packages

In [1]:
# Installation des packages

!pip install -q lxml
!pip install webdriver-manager
!pip install BeautifulSoup4
!pip install pandas fiona shapely pyproj rtree # à faire obligatoirement en premier pour utiliser rtree ou pygeos pour les jointures spatiales
!pip install contextily
!pip install geopandas
!pip install pygeos
!pip install topojson
!pip install seaborn

import requests
import re
import bs4
import lxml
import pandas as pd
import urllib
import seaborn

from urllib import request

Requirement already satisfied: webdriver-manager in /usr/local/python/3.10.13/lib/python3.10/site-packages (4.0.1)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in /usr/local/python/3.10.13/lib/python3.10/site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from webdriver-manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->webdriver-manager) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests->webdriver-manager) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->webdriver-manager) (2023.7.22)
Requirement already satisfied: BeautifulSoup4 in /home/codespace/.local/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.10/site-packages (from BeautifulSoup4) (2.5)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: fiona in /usr/local/python/3.10.13/lib/python3.10/site-packages (1.9.5)
Requirement already satisfied: shapely in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: pyproj in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.6.1)
Requirement already satisfied: rtree in /usr/local/python/3.10.13/lib/python3.10/site-packages (1.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: attrs>=19.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from fiona) (23.1.0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.10/site-packages (from fiona) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona) (0.7.2)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from fiona) (1.16.0)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from fiona) (68.2.2)
Requirement already satisfied: contextily in /usr/local/python/3.10.13/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: geopy in /usr/local/python/3.10.13/lib/python3.10/site-packages (from contextily) (2.4.1)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.10/site-packages (from contextily) (3.8.1)
Requirement already satisfied: mercantile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from contextily) (1.2.1)
Requirement already satisfied: pillow in /home/codespace/.local/lib/python3.10/site-packages (from contextily) (10.1.0)
Requirement already satisfied: rasterio in /usr/local/python/3.10.13/lib/python3.10/site-packages (from contextily) (1.3.9)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from contextily) (2.31.0)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.10/site-packages (from contextily) (1.3.2)
Requirement already satisfied: xyzservices in /usr/local/python/3.10.13/lib/python3.10/site-packages (from contextily) (2023.10.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from geopy->contextily) (2.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (1.26.2)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib->contextily) (2.8.2)
Requirement already satisfied: click>=3.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from mercantile->contextily) (8.1.7)
Requirement already satisfied: affine in /usr/local/python/3.10.13/lib/python3.10/site-packages (from rasterio->contextily) (2.4.0)
Requirement already satisfied: attrs in /home/codespace/.local/lib/python3.10/site-packages (from rasterio->contextily) (23.1.0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.10/site-packages (from rasterio->contextily) (2023.7.22)
Requirement already satisfied: cligj>=0.5 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from rasterio->contextily) (0.7.2)
Requirement already satisfied: snuggs>=1.4.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from rasterio->contextily) (1.4.7)
Requirement already satisfied: click-plugins in /usr/local/python/3.10.13/lib/python3.10/site-packages (from rasterio->contextily) (1.1.1)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from rasterio->contextily) (68.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->contextily) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->contextily) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests->contextily) (2.0.7)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->contextily) (1.16.0)
Requirement already satisfied: geopandas in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.14.1)
Requirement already satisfied: fiona>=1.8.21 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from geopandas) (2.0.2)
Requirement already satisfied: attrs>=19.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (23.1.0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (68.2.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: pygeos in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.14)
Requirement already satisfied: numpy>=1.13 in /home/codespace/.local/lib/python3.10/site-packages (from pygeos) (1.26.2)
Requirement already satisfied: topojson in /usr/local/python/3.10.13/lib/python3.10/site-packages (1.7)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from topojson) (1.26.2)
Requirement already satisfied: shapely in /usr/local/python/3.10.13/lib/python3.10/site-packages (from topojson) (2.0.2)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from topojson) (23.2)
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

### URL

In [2]:
url_1 = "https://odre.opendatasoft.com/explore/embed/dataset/conso-departement-annuelle/table/?disjunctive.libelle_departement&disjunctive.libelle_region&disjunctive.e_operateurs&disjunctive.g_operateurs&refine.annee=2021&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJjb2x1bW4iLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJjb25zb3RvdGFsZSIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6IiM2NmMyYTUifV0sInhBeGlzIjoibGliZWxsZV9kZXBhcnRlbWVudCIsIm1heHBvaW50cyI6NTAsInNvcnQiOiIiLCJjb25maWciOnsiZGF0YXNldCI6ImNvbnNvLWRlcGFydGVtZW50LWFubnVlbGxlIiwib3B0aW9ucyI6eyJkaXNqdW5jdGl2ZS5saWJlbGxlX2RlcGFydGVtZW50Ijp0cnVlLCJkaXNqdW5jdGl2ZS5saWJlbGxlX3JlZ2lvbiI6dHJ1ZSwiZGlzanVuY3RpdmUuZV9vcGVyYXRldXJzIjp0cnVlLCJkaXNqdW5jdGl2ZS5nX29wZXJhdGV1cnMiOnRydWUsInJlZmluZS5hbm5lZSI6IjIwMjEifX19XSwidGltZXNjYWxlIjoiIiwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&location=3,17.56025,53.4375&basemap=jawg.light"
url_2 = "https://www.insee.fr/fr/statistiques/6436484?sommaire=6036904#tableau-figure1_radio1"
url_3 = "https://odre.opendatasoft.com/explore/dataset/temperature-quotidienne-departementale/information/?disjunctive.departement"
url_4 = "https://www.insee.fr/fr/statistiques/6436484?sommaire=6036904#tableau-figure1_radio1"
url_5 = "https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/#bbox=-1052198,6661338,2597056,1619174&c=indicator&i=insee_rp_hist_1968.part_logt_vacant&s=2020&view=map9"
url_6 = "https://ufe-electricite.fr/watt-the-carte/deploiement-bornes-de-recharge-en-france/dans-les-territoires/"
url_7 = "https://www.carburants.org/borne-electrique/departements/"
url_8 : "https://www.observatoire-des-territoires.gouv.fr/nombre-dentreprises-par-secteurs-dactivite"

# 2. Collecte et Exploration des Données (Communes)

## Sources de Données

### Bases de données pre-existantes

##### Consommation totale d'énergie par commune

In [3]:
table_conso_com = pd.read_csv('conso_energie.csv',sep=';')
table_conso_com.head()

# Affichage de la table
table_conso_com.head()

/tmp/ipykernel_18213/1480092423.py:1: DtypeWarning: Columns (6,14,24,25,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  table_conso_com = pd.read_csv('conso_energie.csv',sep=';')

,operateur,annee,filiere,consoa,pdla,nombre_maille_secretisees_a,indquala,consoi,pdli,nombre_maille_secretisees_i,...,libelle_commune,code_epci,libelle_epci,code_departement,libelle_departement,code_region,libelle_region,id_filiere,consototale,code_postal
0,GRDF,2021,Gaz,0.0,0,0,0.0,0.00000,0,1,...,Armeau,248900334,CA du Grand Sénonais,89,Yonne,27.0,Bourgogne-Franche-Comté,200.0,2317.51553,89500
1,GRDF,2021,Gaz,0.0,0,0,0.0,0.00000,0,1,...,Branches,200067114,CA de l'Auxerrois,89,Yonne,27.0,Bourgogne-Franche-Comté,200.0,1905.29787,89113
2,GRDF,2021,Gaz,0.0,0,0,0.0,1895.35634,9,0,...,Brienon-sur-Armançon,200067304,CC Serein et Armance,89,Yonne,27.0,Bourgogne-Franche-Comté,200.0,16756.07274,89210/89210
3,GRDF,2021,Gaz,0.0,0,0,0.0,0.00000,0,0,...,Brion,248900938,CC du Jovinien,89,Yonne,27.0,Bourgogne-Franche-Comté,200.0,1696.15670,89400
4,GRDF,2021,Gaz,0.0,0,1,0.0,0.00000,0,0,...,La Celle-Saint-Cyr,248900938,CC du Jovinien,89,Yonne,27.0,Bourgogne-Franche-Comté,200.0,4395.90677,89116

##### Logements vacants par commune

In [4]:
# url = https://www.data.gouv.fr/fr/datasets/niveau-de-vie-des-francais-par-commune/
table_logements_vacants_com = pd.read_csv('logement_vacants_com.csv', sep=';', encoding='ISO-8859-1')
table_logements_vacants_com

/tmp/ipykernel_18213/60800376.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  table_logements_vacants_com = pd.read_csv('logement_vacants_com.csv', sep=';', encoding='ISO-8859-1')

       codgeo                   libgeo    an part_logt_vacant
0        1001  L'Abergement-Clémenciat  1968             15,5
1        1001  L'Abergement-Clémenciat  1975             12,6
2        1001  L'Abergement-Clémenciat  1982              9,1
3        1001  L'Abergement-Clémenciat  1990              4,6
4        1001  L'Abergement-Clémenciat  1999              3,1
...       ...                      ...   ...              ...
279555  97617                 Tsingoni  1990              NaN
279556  97617                 Tsingoni  1999              NaN
279557  97617                 Tsingoni  2009              NaN
279558  97617                 Tsingoni  2014              NaN
279559  97617                 Tsingoni  2020              NaN

[279560 rows x 4 columns]

##### Nombre d'entreprises par commune

In [5]:
# url = https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/#c=indicator&f=TOT&i=demo_ent_sect.ent_tot&s=2021&view=map59
table_nb_entr_com = pd.read_csv('table_nb_entr_com.csv',sep=';')
table_nb_entr_com.head()

,Code,Libellé,Nombre d'entreprises par secteurs d'activité 2021,Nombre d'entreprises par secteurs d'activité 2021.1
0,1001,L'Abergement-Clémenciat,41,2
1,1002,L'Abergement-de-Varey,18,3
2,1004,Ambérieu-en-Bugey,1097,54
3,1005,Ambérieux-en-Dombes,133,12
4,1006,Ambléon,7,0

##### Niveau de vie par commune

In [6]:
# url = https://www.data.gouv.fr/fr/datasets/niveau-de-vie-des-francais-par-commune/
table_niveau_vie_com = pd.read_csv('niveau_vie_com.csv',sep=';')
table_niveau_vie_com.head()

  CODGEO                   LIBGEO    MED14
0   1001  L'Abergement-Clémenciat  21576,7
1   1002    L'Abergement-de-Varey  21672,9
2   1004        Ambérieu-en-Bugey  19756,1
3   1005      Ambérieux-en-Dombes  23204,8
4   1006                  Ambléon  22157,5

### Bases de données webscrappées

##### Population par commune

In [7]:
from urllib import request
from bs4 import BeautifulSoup

url_communes = "https://fr.wikipedia.org/wiki/Listes_des_communes_de_France"
text_communes = request.urlopen(url_communes).read().decode('utf-8')
page_communes = BeautifulSoup(text_communes, 'html.parser')
tableau_communes = page_communes.find('table', {'class': 'wikitable'})
tableau_communes = tableau_communes.find('tbody')
lignes_communes = tableau_communes.find_all('tr')
lignes_communes = lignes_communes[:-13]

# Liste pour stocker les contenus après "a href"
liste_url_communes = []

# Parcourir chaque ligne dans lignes_communes
for ligne in lignes_communes:
    # Trouver toutes les balises <td> dans la ligne
    td_tags = ligne.find_all('td')

    if len(td_tags) >= 3:
        if td_tags[-3].text.strip() != '75':
            derniere_td = td_tags[-1]
            a_tag = derniere_td.find('a')
            if a_tag:
                contenu_apres_href = a_tag.get('href')
                liste_url_communes.append(contenu_apres_href)

dico_communes = {}
liste_code_communes = []

for url in liste_url_communes:
    text = request.urlopen("https://fr.wikipedia.org" + url).read().decode('utf-8')
    page = BeautifulSoup(text, 'html.parser')  # Utilisez html.parser au lieu de lxml
    tableau = page.find('table', {'class': 'wikitable sortable titre-en-couleur'})
    tableau = tableau.find('tbody')
    lignes = tableau.find_all('tr')
    lignes.pop(0)
    lignes.pop(-1)

    for ligne in lignes:
        donnees = ligne.find_all('td')
        code_insee = donnees[1].text.strip()
        liste_code_communes.append(code_insee)
        pop_commune = donnees[-3].text.strip()
        dico_communes[code_insee] = pop_commune

table_pop_com = pd.DataFrame.from_dict(dico_communes,orient='index').reset_index()
table_pop_com = table_pop_com.rename(columns={'index':'Code commune'}) 
table_pop_com

      Code commune              0
0            01053  41 681 (2020)
1            01001     806 (2020)
2            01002     262 (2020)
3            01004  14 288 (2020)
4            01005   1 782 (2020)
...            ...            ...
34807        84147   3 295 (2020)
34808        84148   1 273 (2020)
34809        84149   1 727 (2020)
34810        84150   1 929 (2020)
34811        84151     162 (2020)

[34812 rows x 2 columns]

##### Température par commune

In [8]:
# Dictionnaire pour stocker les moyennes de température par commune
#dico_temp_communes = {}

#root_api = "https://public.opendatasoft.com"

# Boucle sur chaque codegeo
#for codegeo in liste_code_communes:
    # Construire l'URL avec le codegeo actuel
    #url = f"{root_api}/api/explore/v2.1/catalog/datasets/donnees-synop-essentielles-omm/records?select=codegeo%2C%20tc%2C%20latitude%2C%20longitude&where=codegeo%3D%22{codegeo}%22&limit=99"

    # Récupérer les données depuis l'API
    #req = requests.get(url)
    #temp = req.json()
    #results = temp.get('results', [])
    
    # Créer un DataFrame avec les résultats
    #df = pd.DataFrame(results)
    
    # Vérifier si la colonne 'tc' existe dans le DataFrame
    #if 'tc' in df.columns:
        # Calculer la moyenne de la colonne 'tc'
        #moyenne = round(df['tc'].mean(), 2)
        
        # Ajouter la moyenne au dictionnaire avec le codegeo comme clé
        #dico_temp_communes[codegeo] = moyenne
    # else:
        # print(f"La colonne 'tc' est absente pour le codegeo {codegeo}")

# Afficher le dictionnaire final
# print(dico_temp_communes)

In [9]:
#import requests
#import pandas as pd
#from concurrent.futures import ThreadPoolExecutor

# Initialisation d'une session de requêtes
#session = requests.Session()

#def fetch_data(codegeo):
    #url = f"{root_api}/api/explore/v2.1/catalog/datasets/donnees-synop-essentielles-omm/records?select=codegeo%2C%20tc%2C%20latitude%2C%20longitude&where=codegeo%3D%22{codegeo}%22&limit=99"
    #try:
        #response = session.get(url)
        #response.raise_for_status()
        #data = response.json()
        #return data.get('results', [])
    #except requests.RequestException as e:
        #print(f"Erreur lors de la récupération des données pour {codegeo}: {e}")
        #return []

# Traitement des données en parallèle
#with ThreadPoolExecutor(max_workers=10) as executor:
    #results = executor.map(fetch_data, liste_code_communes)

# Traitement des résultats
#all_data = []
#for result in results:
    #all_data.extend(result)

# Création d'un DataFrame unique
#df = pd.DataFrame(all_data)

# Calcul des moyennes
#if 'tc' in df.columns:
    #dico_temp_communes = df.groupby('codegeo')['tc'].mean().round(2).to_dict()

# Afficher le dictionnaire final
# print(dico_temp_communes)

On se rend compte qu'on a plein de données manquantes. Pour lutter contre ce problème on associe à chaque commune la température du département, en faisant l'hypothèse que la température est assez homogène dans un département.

In [10]:
# URL de base et structure de l'URL de l'API
root_api = "https://odre.opendatasoft.com"
base_url = "/api/explore/v2.1/catalog/datasets/temperature-quotidienne-departementale/records"
base_query = "?select=date_obs%2Ccode_insee_departement%2Cdepartement%2Ctmoy&order_by=code_insee_departement&limit=99&refine=date_obs%3A%222021%22"

# Collecte des données pour chaque mois
df_list = []
for i in range(1, 13):
    date_str = f"2021-{i:02d}-01"
    url_api = f"{root_api}{base_url}{base_query}&where=date_obs%3Ddate'{date_str}'"
    req = requests.get(url_api)
    temp = req.json()
    results = temp.get('results', [])
    df = pd.DataFrame(results)
    if not df.empty:
        df = df[['date_obs', 'code_insee_departement', 'departement','tmoy']]
        df_list.append(df)

# Fusionner tous les DataFrames en un seul
df_final = pd.concat(df_list)

# Calcul de la moyenne des températures par code et nom de département
table_temperatures = df_final.groupby(['code_insee_departement', 'departement'])['tmoy'].mean().reset_index()

# Affichage du DataFrame final
table_temperatures.head()

# Création d'un DataFrame à partir de la liste des codes INSEE
data_communes = {'code_commune': liste_code_communes}
df_communes = pd.DataFrame(data_communes)

# Exécution d'une jointure entre les deux DataFrames
table_temperatures_com = pd.merge(df_communes, table_temperatures, left_on=df_communes['code_commune'].str[:2], right_on=table_temperatures['code_insee_departement'])

# Afficher le résultat
table_temperatures_com[['code_commune', 'tmoy']]

      code_commune       tmoy
0            01053  11.875000
1            01001  11.875000
2            01002  11.875000
3            01004  11.875000
4            01005  11.875000
...            ...        ...
34808        84147  14.166667
34809        84148  14.166667
34810        84149  14.166667
34811        84150  14.166667
34812        84151  14.166667

[34813 rows x 2 columns]

### Fusion des bases de données

##### Visualisation des dataframe a fusionner

In [52]:
# Sélection des colonnes nécessaires
df_filtered = table_conso_com[['annee','code_commune', 'libelle_commune', 'consototale']]

# Trier les données par commune et année, en ordre décroissant
df_filtered = df_filtered.sort_values(by=['code_commune', 'annee'], ascending=[True, False])

# Garder la première occurrence pour chaque commune
df_filtered = df_filtered.drop_duplicates(subset='code_commune')

# Réinitialiser l'index
df_filtered = df_filtered.reset_index(drop=True)

# Afficher le DataFrame final
df_filtered.head()

table_conso_com=df_filtered

In [12]:
table_temperatures_com.head()

  key_0 code_commune code_insee_departement departement    tmoy
0    01        01053                     01         Ain  11.875
1    01        01001                     01         Ain  11.875
2    01        01002                     01         Ain  11.875
3    01        01004                     01         Ain  11.875
4    01        01005                     01         Ain  11.875

In [40]:
table_logements_vacants_com=table_logements_vacants_com.rename(columns={
    'codgeo': 'code_commune',
    'libgeo': 'libelle_commune',
    'an': 'an',
    'part_logt_vacant': 'logements_vacants_%'
})
table_logements_vacants_com.head()

  code_commune          libelle_commune    an logements_vacants_%
0         1001  L'Abergement-Clémenciat  1968                15,5
1         1001  L'Abergement-Clémenciat  1975                12,6
2         1001  L'Abergement-Clémenciat  1982                 9,1
3         1001  L'Abergement-Clémenciat  1990                 4,6
4         1001  L'Abergement-Clémenciat  1999                 3,1

In [38]:
table_pop_com=table_pop_com.rename(columns={
    'Code commune': 'code_commune',
    0: 'population',
})
table_pop_com['population'] = table_pop_com['population'].str.replace(r'\s*\(2020\)', '', regex=True)
table_pop_com.head()

  code_commune population
0        01053     41 681
1        01001        806
2        01002        262
3        01004     14 288
4        01005      1 782

In [28]:
table_niveau_vie_com=table_niveau_vie_com.rename(columns={
    'CODGEO': 'code_commune',
    'LIBGEO': 'libelle_commune',
    'MED14': 'niveau_de_vie'
})
table_niveau_vie_com.head()

  code_commune          libelle_commune niveau_de_vie
0         1001  L'Abergement-Clémenciat       21576,7
1         1002    L'Abergement-de-Varey       21672,9
2         1004        Ambérieu-en-Bugey       19756,1
3         1005      Ambérieux-en-Dombes       23204,8
4         1006                  Ambléon       22157,5

In [27]:
table_nb_entr_com = table_nb_entr_com.rename(columns={
    'Code': 'code_commune',
    'Libellé': 'libelle_commune',
    'Nombre d\'entreprises par secteurs d\'activité 2021': 'nombre_entreprises',
    'Nombre d\'entreprises par secteurs d\'activité 2021.1': 'pas_compris_cette_colonne'
})
table_nb_entr_com.head()

  code_commune          libelle_commune nombre_entreprises a_supprimer
0         1001  L'Abergement-Clémenciat                 41           2
1         1002    L'Abergement-de-Varey                 18           3
2         1004        Ambérieu-en-Bugey               1097          54
3         1005      Ambérieux-en-Dombes                133          12
4         1006                  Ambléon                  7           0

##### Traitement des tableaux

In [53]:
table_conso_communes=table_conso_com[['code_commune','libelle_commune','consototale']]
table_logements_vacants_communes = table_logements_vacants_com.loc[table_logements_vacants_com.groupby('code_commune')['an'].idxmax()]
table_nb_entr_communes=table_nb_entr_com[['code_commune','libelle_commune','nombre_entreprises']]
table_niveau_vie_communes=table_niveau_vie_com[['code_commune','libelle_commune','niveau_de_vie']]
table_pop_communes=table_pop_com[['code_commune','population']]
table_temperatures_communes=table_temperatures_com[['code_commune','tmoy']]

##### Fusion deux par deux

In [54]:
# Fusion des DataFrames
df_merged = table_conso_communes.merge(table_logements_vacants_communes, on='code_commune', how='outer')
df_merged = df_merged.merge(table_nb_entr_communes, on='code_commune', how='outer', suffixes=('', '_entr'))
df_merged = df_merged.merge(table_niveau_vie_communes, on='code_commune', how='outer', suffixes=('', '_nv'))
df_merged = df_merged.merge(table_pop_communes, on='code_commune', how='outer')
df_merged = df_merged.merge(table_temperatures_communes, on='code_commune', how='outer')

# Nettoyage des colonnes
table_donnees = df_merged[['code_commune', 'libelle_commune', 'consototale', 'logements_vacants_%', 'nombre_entreprises', 'niveau_de_vie', 'population', 'tmoy']]

table_donnees

,code_commune,libelle_commune,consototale,logements_vacants_%,nombre_entreprises,niveau_de_vie,population,tmoy
0,1004,NaN,85025.87198,NaN,NaN,NaN,NaN,NaN
1,1005,NaN,6415.00000,NaN,NaN,NaN,NaN,NaN
2,1007,NaN,5567.43332,NaN,NaN,NaN,NaN,NaN
3,1008,NaN,859.57512,NaN,NaN,NaN,NaN,NaN
4,1010,NaN,478890.27600,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
72132,05180,NaN,NaN,NaN,NaN,NaN,532,11.0625
72133,05181,NaN,NaN,NaN,NaN,NaN,287,11.0625
72134,05182,NaN,NaN,NaN,NaN,NaN,38,11.0625
72135,05183,NaN,NaN,NaN,NaN,NaN,1 466,11.0625
72136,05184,NaN,NaN,NaN,NaN,NaN,210,11.0625

In [56]:
table_donnees = table_donnees.dropna()
table_donnees

,code_commune,libelle_commune,consototale,logements_vacants_%,nombre_entreprises,niveau_de_vie,population,tmoy
31717,10002,Ailleville,882.862735,"12,7",9,19700,232,11.754167
31718,10003,Aix-Villemaur-Pâlis,16950.214634,"10,6",200,"17799,3",3 537,11.754167
31719,10004,Allibaudières,1938.295683,"14,7",15,"18258,9",207,11.754167
31720,10005,Amance,1006.336966,"10,8",16,"18609,3",250,11.754167
31721,10006,Arcis-sur-Aube,22622.205320,"15,1",200,18334,2 767,11.754167
...,...,...,...,...,...,...,...,...
46687,44195,Savenay,24427.364660,"8,3",531,"21550,7",9 283,13.717500
46688,44196,Sévérac,5993.280404,"9,5",67,"18631,3",1 653,13.717500
46689,44197,Sion-les-Mines,7440.921181,14,80,"17427,6",1 651,13.717500
46690,44198,Les Sorinières,39289.157510,"3,4",752,"22245,4",8 900,13.717500
46691,44199,Soudan,6830.825490,"10,8",88,"18851,3",1 996,13.717500

## Exploration Initiale

### Apercu des donnees

In [59]:
# Affichage des premières lignes
table_donnees.head()

,code_commune,libelle_commune,consototale,logements_vacants_%,nombre_entreprises,niveau_de_vie,population,tmoy
31717,10002,Ailleville,882.862735,"12,7",9,19700,232,11.754167
31718,10003,Aix-Villemaur-Pâlis,16950.214634,"10,6",200,"17799,3",3 537,11.754167
31719,10004,Allibaudières,1938.295683,"14,7",15,"18258,9",207,11.754167
31720,10005,Amance,1006.336966,"10,8",16,"18609,3",250,11.754167
31721,10006,Arcis-sur-Aube,22622.205320,"15,1",200,18334,2 767,11.754167

In [60]:
# Affichage des informations sur les types de données et les valeurs manquantes
table_donnees.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11832 entries, 31717 to 46691
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   code_commune         11832 non-null  object
 1   libelle_commune      11832 non-null  object
 2   consototale          11832 non-null  float64
 3   logements_vacants_%  11832 non-null  object
 4   nombre_entreprises   11832 non-null  object
 5   niveau_de_vie        11832 non-null  object
 6   population           11832 non-null  object
 7   tmoy                 11832 non-null  float64
dtypes: float64(2), object(6)
memory usage: 831.9+ KB

# 3. Nettoyage et Préparation des Données

## Nettoyage des Données

## Formatage et Normalisation

# 4. Analyse Exploratoire des Données (EDA)

## Statistiques Descriptives

## Visualisations

# 5. Analyse et Visualisation par Secteur et par Département

In [ ]:
#graphique de statitistiques descriptives

# Import seaborn
import seaborn as sns
import numpy as np
# Apply the default theme
graph= sns.relplot(data= table_donnees, x="niveau_de_vie", y="consommation",height=6,aspect=3)

# Définissez les marques de l'axe des abscisses à intervalles de 1000
xticks_interval = np.arange(13000, 31000, 1000)
ax.set_xticks(xticks_interval)

# Affichez le graphique
plt.show()

# Affichez le graphique
plt.show()

In [ ]:
#Max min
Mt=table_donnees['temperature'].max()
mt=table_donnees['temperature'].min()
#on distingue trois groupe de dépapartement selon la température pour observer les causalités et les correlations.
table_donnees['grp_tmp']=[ "Chaud" if t > 2*(Mt-mt)/3 +mt  else ("Froid" if t < (Mt-mt)/3 +mt else "Doux") for t in table_donnees['temperature']]

In [ ]:
sns.relplot(data=table_donnees, y="consommation", x="temperature", hue="grp_tmp", height=6, aspect=2)

In [ ]:
sns.pairplot(data=table_donnees, hue="grp_tmp")

In [ ]:
# Carte de france avec les départements: conversion des donées pour une analyse en Geopadans

import geopandas as gpd
from shapely.geometry import shape
import matplotlib.pyplot as plt

# Conversion des données "geom" qui sont en GEOJSON en données "géometry" que Geopanda peut traiter
table_donnees['geometry'] = table_donnees['geom'].apply(lambda x: shape(x['geometry']))
gdf = gpd.GeoDataFrame(table_donnees, geometry='geometry')

# Créez une figure et des axes
fig, ax = plt.subplots(figsize=(12, 12))

# Affichez la carte à partir du GeoDataFrame
gdf.plot(ax=ax, color='green', edgecolor='black')

# Supprimez les axes
ax.set_axis_off()

# Supprimez les valeurs des axes x et y
ax.set_xticks([])
ax.set_yticks([])

# Ajoutez un titre à la carte
plt.title("Départements")

# Affichez la carte
plt.show()

#Il manque une dizaines de départements

In [ ]:
#Visualisation de la temperature par département

from mpl_toolkits.axes_grid1 import make_axes_locatable

# Créez une figure et des axes
fig, ax = plt.subplots(figsize=(12, 12))
# Tracé de la carte avec la couleur basée sur les températures 
gdf.plot(column='temperature', cmap='coolwarm', linewidth=0.8, ax=ax, edgecolor='0.8')
# Ajout d'une barre de couleur :
divider = make_axes_locatable(ax)
cax = divider.append_axes("right", size="2%", pad=0.1)
sm = plt.cm.ScalarMappable(cmap='coolwarm', norm=plt.Normalize(vmin=gdf['temperature'].min(), vmax=gdf['temperature'].max()))
sm._A = []
cbar = plt.colorbar(sm, cax=cax)

# Suppression des axes
ax.set_axis_off()

# Ajouter un titre à la carte
plt.suptitle("Carte de France - Températures des départements", fontsize=15, x=0.5, y=0.80)

# Afficher la carte
plt.show()

In [ ]:
#Visualisation de la consommation d'électricté par département

from mpl_toolkits.axes_grid1 import make_axes_locatable
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
from matplotlib.cm import ScalarMappable
# Créez une figure et des axes
fig, ax = plt.subplots(figsize=(12, 12))
# Ecart par rapport à la moyenne de consomation
gdf['diff_moyenne'] = (gdf['consommation'] - gdf['consommation'].mean())
# Tracé de la carte avec la couleur basée sur les températures 
gdf.plot(column='diff_moyenne', cmap='RdYlGn_r', linewidth=0.8, ax=ax, edgecolor='0.8')
# Ajout d'une barre de couleur :
divider = make_axes_locatable(ax)
cax = divider.append_axes("right", size="2%", pad=0.1)
sm = plt.cm.ScalarMappable(cmap='RdYlGn_r', norm=plt.Normalize(vmax=gdf['diff_moyenne'].max(), vmin=gdf['diff_moyenne'].min()))
sm._A = []
cbar = plt.colorbar(sm, cax=cax)

# Suppression des axes
ax.set_axis_off()

# Ajouter un titre à la carte
plt.suptitle("Carte de France - Consommation électricité des départements", fontsize=15, x=0.5, y=0.80)

# Afficher la carte
plt.show()

In [ ]:
import folium
import pandas as pd
m = folium.Map(location=[46.6031, 1.8883], zoom_start=6)
for index, row in table_donnees.iterrows():
    folium.GeoJson(row['geom'], name=row['nom_departement']).add_to(m)
m.save('carte.html')

## Comparaison par Secteur

## Analyse Géographique

# 6. Modélisation et Prédictions

## Choix des Modèles

## Entraînement et Test

# 7. Évaluation des Résultats

## Interprétation des Modèles

## Mesures de Performance

# 8. Synthèse et Recommandations

## Conclusions Clés

## Recommandations