# 1. Définition du Problème et Objectifs

## Contexte et Pertinence

Dans un contexte mondial où la gestion efficace de l'énergie est devenue une priorité cruciale, notre projet vise à analyser la consommation d'énergie par département dans différents secteurs en France. L'objectif est de fournir une compréhension approfondie des modèles de consommation énergétique, qui est essentielle pour orienter les politiques énergétiques, promouvoir la durabilité et optimiser les ressources. Ce projet est particulièrement pertinent étant donné les défis actuels liés au changement climatique et à la transition énergétique. En examinant les données de consommation énergétique à l'échelle des départements, nous pouvons identifier des tendances spécifiques, des anomalies et des opportunités d'amélioration. Cela permettra aux décideurs, aux entreprises et aux consommateurs de prendre des mesures éclairées pour réduire la consommation d'énergie, améliorer l'efficacité énergétique et favoriser l'adoption d'énergies renouvelables. En outre, ce projet contribue à une meilleure compréhension des disparités régionales en matière de consommation d'énergie, offrant ainsi une perspective précieuse pour des interventions ciblées et personnalisées.

## Objectifs du Projet

Notre projet, au cœur de l'intersection entre technologie, environnement et société, se fixe des objectifs ambitieux et significatifs :

**Cartographie de la Consommation Énergétique :** Notre premier objectif est de dresser une carte précise de la consommation d'énergie dans les différents départements français. En mettant en lumière ces données, nous souhaitons offrir une vision claire et détaillée de la répartition énergétique sur le territoire.

**Identification des Tendances et Anomalies :** Nous visons à décrypter les tendances sous-jacentes et à détecter d'éventuelles anomalies dans les habitudes de consommation énergétique. Cela permettra de comprendre les pratiques énergétiques actuelles et d'identifier les zones à haut potentiel d'amélioration.

**Analyse Comparative par Secteur :** Un autre objectif crucial est de comparer la consommation énergétique entre différents secteurs (résidentiel, industriel, commercial, etc.). Cela aidera à cerner les secteurs les plus énergivores et à envisager des stratégies d'optimisation.

**Prédiction des Tendances Futures :** Nous ambitionnons de développer des modèles prédictifs pour anticiper les évolutions futures de la consommation d'énergie. Ces prévisions seront essentielles pour planifier des stratégies énergétiques à long terme.

**Contribution à la Durabilité :** En offrant une compréhension approfondie de la consommation d'énergie, le projet aspire à contribuer activement à des initiatives de développement durable. Les insights générés pourraient inspirer des actions concrètes pour réduire l'empreinte énergétique.

**Support aux Décisions Politiques et Commerciales :** Fournir des données et des analyses fiables pour éclairer les décisions politiques et commerciales en matière de gestion de l'énergie. Cela inclut la recommandation de politiques efficaces et la sensibilisation aux meilleures pratiques en matière de consommation énergétique.

**Sensibilisation et Éducation :** Enfin, nous souhaitons utiliser nos résultats pour sensibiliser le public et les décideurs aux enjeux de la consommation d'énergie. L'objectif est de promouvoir une culture de consommation énergétique responsable et informée.

## Aspects techniques

### Packages

In [2]:
# Installation des packages

!pip install -q lxml
!pip install webdriver-manager
!pip install BeautifulSoup4
!pip install pandas fiona shapely pyproj rtree # à faire obligatoirement en premier pour utiliser rtree ou pygeos pour les jointures spatiales
!pip install contextily
!pip install geopandas
!pip install pygeos
!pip install topojson
!pip install seaborn

import requests
import re
import bs4
import lxml
import pandas as pd
import urllib
import seaborn

from urllib import request

Collecting webdriver-manager
  Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in /opt/mamba/lib/python3.10/site-packages (from webdriver-manager) (2.31.0)
Collecting python-dotenv (from webdriver-manager)
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from webdriver-manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests->webdriver-manager) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/mamba/lib/python3.10/site-packages (from requests->webdriver-manager) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/mamba/lib/python3.10/site-packages (from requests->webdriver-manager) (2023.11.17)
Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl (27 kB)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.0.0 webdriver-manager-4.0.1
Requirement already satisfied: BeautifulSoup4 in /opt/mamba/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /opt/mamba/lib/python3.10/site-packages (from BeautifulSoup4) (2.5)
Requirement already satisfied: pandas in /opt/mamba/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: fiona in /opt/mamba/lib/python3.10/site-packages (1.9.3)
Requirement already satisfied: shapely in /opt/mamba/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: pyproj in /opt/mamba/lib/python3.10/site-packages (3.6.1)
Requirement already satisfied: rtree in /opt/mamba/lib/python3.10/site-packages (1.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/mamba/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: attrs>=19.2.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from fiona) (2023.11.17)
Requirement already satisfied: click~=8.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from fiona) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /opt/mamba/lib/python3.10/site-packages (from fiona) (4.0.0)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting contextily
  Downloading contextily-1.4.0-py3-none-any.whl.metadata (2.9 kB)
Collecting geopy (from contextily)
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: matplotlib in /opt/mamba/lib/python3.10/site-packages (from contextily) (3.8.2)
Collecting mercantile (from contextily)
  Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Requirement already satisfied: pillow in /opt/mamba/lib/python3.10/site-packages (from contextily) (10.1.0)
Collecting rasterio (from contextily)
  Downloading rasterio-1.3.9-cp310-cp310-manylinux2014_x86_64.whl.metadata (14 kB)
Requirement already satisfied: requests in /opt/mamba/lib/python3.10/site-packages (from contextily) (2.31.0)
Requirement already satisfied: joblib in /opt/mamba/lib/python3.10/site-packages (from contextily) (1.3.2)
Requirement already satisfied: xyzservices in /opt/mamba/lib/python3.10/site-packages (from contextily) (2023.10.1)
Collecting geographiclib<3,>=1.52 (from geopy->contextily)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: contourpy>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.26.2)
Requirement already satisfied: packaging>=20.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (2.8.2)
Requirement already satisfied: click>=3.0 in /opt/mamba/lib/python3.10/site-packages (from mercantile->contextily) (8.1.7)
Collecting affine (from rasterio->contextily)
  Downloading affine-2.4.0-py3-none-any.whl (15 kB)
Requirement already satisfied: attrs in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (2023.11.17)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (0.7.2)
Collecting snuggs>=1.4.1 (from rasterio->contextily)
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Requirement already satisfied: click-plugins in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (1.1.1)
Requirement already satisfied: setuptools in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (68.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (1.26.18)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->contextily) (1.16.0)
Downloading contextily-1.4.0-py3-none-any.whl (16 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 6.1 MB/s eta 0:00:00
Downloading rasterio-1.3.9-cp310-cp310-manylinux2014_x86_64.whl (20.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.6/20.6 MB 15.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: snuggs, mercantile, geographiclib, affine, rasterio, geopy, contextily
Successfully installed affine-2.4.0 contextily-1.4.0 geographiclib-2.0 geopy-2.4.1 mercantile-1.2.1 rasterio-1.3.9 snuggs-1.4.7
Requirement already satisfied: geopandas in /opt/mamba/lib/python3.10/site-packages (0.14.1)
Requirement already satisfied: fiona>=1.8.21 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (1.9.3)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.4.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyproj>=3.3.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (2.0.2)
Requirement already satisfied: attrs>=19.2.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (2023.11.17)
Requirement already satisfied: click~=8.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (4.0.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Collecting pygeos
  Downloading pygeos-0.14-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 19.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.13 in /opt/mamba/lib/python3.10/site-packages (from pygeos) (1.26.2)
Installing collected packages: pygeos
Successfully installed pygeos-0.14
Collecting topojson
  Downloading topojson-1.7-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: numpy in /opt/mamba/lib/python3.10/site-packages (from topojson) (1.26.2)
Requirement already satisfied: shapely in /opt/mamba/lib/python3.10/site-packages (from topojson) (2.0.2)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from topojson) (23.1)
Downloading topojson-1.7-py2.py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 4.9 MB/s eta 0:00:00
Installing collected packages: topojson
Successfully installed topojson-1.7
Requirement already satisfied: seaborn in /opt/mamba/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=8 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/mamba/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

### URL

In [2]:
url_1 = "https://odre.opendatasoft.com/explore/embed/dataset/conso-departement-annuelle/table/?disjunctive.libelle_departement&disjunctive.libelle_region&disjunctive.e_operateurs&disjunctive.g_operateurs&refine.annee=2021&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJjb2x1bW4iLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJjb25zb3RvdGFsZSIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6IiM2NmMyYTUifV0sInhBeGlzIjoibGliZWxsZV9kZXBhcnRlbWVudCIsIm1heHBvaW50cyI6NTAsInNvcnQiOiIiLCJjb25maWciOnsiZGF0YXNldCI6ImNvbnNvLWRlcGFydGVtZW50LWFubnVlbGxlIiwib3B0aW9ucyI6eyJkaXNqdW5jdGl2ZS5saWJlbGxlX2RlcGFydGVtZW50Ijp0cnVlLCJkaXNqdW5jdGl2ZS5saWJlbGxlX3JlZ2lvbiI6dHJ1ZSwiZGlzanVuY3RpdmUuZV9vcGVyYXRldXJzIjp0cnVlLCJkaXNqdW5jdGl2ZS5nX29wZXJhdGV1cnMiOnRydWUsInJlZmluZS5hbm5lZSI6IjIwMjEifX19XSwidGltZXNjYWxlIjoiIiwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&location=3,17.56025,53.4375&basemap=jawg.light"
url_2 = "https://www.insee.fr/fr/statistiques/6436484?sommaire=6036904#tableau-figure1_radio1"
url_3 = "https://odre.opendatasoft.com/explore/dataset/temperature-quotidienne-departementale/information/?disjunctive.departement"
url_4 = "https://www.insee.fr/fr/statistiques/6436484?sommaire=6036904#tableau-figure1_radio1"
url_5 = "https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/#bbox=-1052198,6661338,2597056,1619174&c=indicator&i=insee_rp_hist_1968.part_logt_vacant&s=2020&view=map9"
url_6 = "https://ufe-electricite.fr/watt-the-carte/deploiement-bornes-de-recharge-en-france/dans-les-territoires/"
url_7 = "https://www.carburants.org/borne-electrique/departements/"
url_8 : "https://www.observatoire-des-territoires.gouv.fr/nombre-dentreprises-par-secteurs-dactivite"

# 2. Collecte et Exploration des Données

## Sources de Données

### Bases de données pre-existantes

##### Consommation totale d'énergie par département (Opendatasoft.com)

In [14]:
# Création de l'url de l'API

root_api_1 = "https://odre.opendatasoft.com"
url_api_1 = root_api_1+"/api/explore/v2.1/catalog/datasets/conso-departement-annuelle/records?select=code_departement%2C%20libelle_departement%2C%20consototale%2C%20geom&where=annee%20%3D%20date%272021%27&order_by=code_departement&limit=99&exclude=libelle_departement%3A971%2C972%2C973%2C974&refine=annee%3A%222021%22"

# Récupération des données

req = requests.get(url_api_1)
conso_energie = req.json()

# Extraire la liste de résultats du dictionnaire
results = conso_energie.get('results', [])
df = pd.DataFrame(results)

# On choisit les variables
table_conso = df[['code_departement', 'libelle_departement', 'consototale','geom']]

# Affichage de la table
table_conso.head()

,code_departement,libelle_departement,consototale,geom
0,01,Ain,9.921409e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
1,02,Aisne,8.628880e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
2,2A,Corse-du-Sud,1.008356e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
3,2B,Haute-Corse,1.003554e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
4,03,Allier,6.912756e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."

##### Température par département (Opendatasoft.com)

In [13]:
# URL de base et structure de l'URL de l'API
root_api = "https://odre.opendatasoft.com"
base_url = "/api/explore/v2.1/catalog/datasets/temperature-quotidienne-departementale/records"
base_query = "?select=date_obs%2Ccode_insee_departement%2Cdepartement%2Ctmoy&order_by=code_insee_departement&limit=99&refine=date_obs%3A%222021%22"

# Collecte des données pour chaque mois
df_list = []
for i in range(1, 13):
    date_str = f"2021-{i:02d}-01"
    url_api = f"{root_api}{base_url}{base_query}&where=date_obs%3Ddate'{date_str}'"
    req = requests.get(url_api)
    temp = req.json()
    results = temp.get('results', [])
    df = pd.DataFrame(results)
    if not df.empty:
        df = df[['date_obs', 'code_insee_departement', 'departement','tmoy']]
        df_list.append(df)

# Fusionner tous les DataFrames en un seul
df_final = pd.concat(df_list)

# Calcul de la moyenne des températures par code et nom de département
table_temperatures = df_final.groupby(['code_insee_departement', 'departement'])['tmoy'].mean().reset_index()

# Affichage du DataFrame final
table_temperatures.head()

   code_insee_departement              departement       tmoy
0                      01                      Ain  11.875000
1                      02                    Aisne  11.237500
2                      03                   Allier  12.441667
3                      04  Alpes-de-Haute-Provence  13.133333
4                      05             Hautes-Alpes  11.062500
..                    ...                      ...        ...
91                     91                  Essonne  12.729167
92                     92           Hauts-de-Seine  11.945833
93                     93        Seine-Saint-Denis  12.387500
94                     94             Val-de-Marne  12.729167
95                     95               Val-d'Oise  12.043333

[96 rows x 3 columns]

##### Logements vacants

In [5]:
# url = https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/#bbox=-1052198,6661338,2597056,1619174&c=indicator&i=insee_rp_hist_1968.part_logt_vacant&s=2020&view=map9

table_logements_vacants = pd.read_csv('table_logements_vacants.csv',sep=';')
table_logements_vacants.head()

    Code                  Libellé Part des logements vacants 2020
0     01                      Ain                             8.2
1     02                    Aisne                            10.1
2     03                   Allier                            14.9
3     04  Alpes-de-Haute-Provence                             8.3
4     05             Hautes-Alpes                             5.7
..   ...                      ...                             ...
96   971               Guadeloupe                            15.1
97   972               Martinique                            16.1
98   973                   Guyane                              10
99   974               La Réunion                             8.9
100  976                  Mayotte   N/A - résultat non disponible

[101 rows x 3 columns]

##### Nombre d'entreprises industrielles

In [28]:
table_nb_entr_indus = pd.read_csv('table_nb_entr_indus.csv',sep=';')
table_nb_entr_indus.head()

,Code,Libellé,Nombre d'entreprises par secteurs d'activité 2021,Nombre d'entreprises par secteurs d'activité 2021.1
0,1,Ain,44428,3760
1,2,Aisne,24801,1922
2,3,Allier,20482,1689
3,4,Alpes-de-Haute-Provence,16590,1264
4,5,Hautes-Alpes,16271,1121

### Bases de données webscrappées

##### Population

In [19]:
# Nous avons besoin de scraper la donnée "population" sur chaque page Wikipédia des départements, et pour cela, nous devons obtenir les URL de chaque page. 
# Ainsi, nous créons une liste qui recense tous les URL nécessaires pour accéder à chaque page Wikipédia et extraire la donnée de population.

url_dep = "https://fr.wikipedia.org/wiki/D%C3%A9partement_fran%C3%A7ais"
text_dep = request.urlopen(url_dep).read()
page_dep = bs4.BeautifulSoup(text_dep, 'lxml')
tableau_dep = page_dep.find('div', {'class':'colonnes'})
lignes_dep = tableau_dep.find_all('li')

list_url=[]
for i in range(len(lignes_dep)):
    if re.search(r'href="([^"]*)"', str(lignes_dep[i])).group(1) not in ["#cite_note-collectivitésOM-178",'/wiki/Guadeloupe','/wiki/La_R%C3%A9union'] :
        num_dep = lignes_dep[i].find('code').text.strip()
        list_url.append(["https://fr.wikipedia.org"+re.search(r'href="([^"]*)"', str(lignes_dep[i])).group(1),num_dep])

# Nous automatisons le webscraping d'une page Wikipédia, et chaque résultat est stocké dans un dictionnaire.

dico_dep = dict()
k=1
for url in list_url:
    text = request.urlopen(url[0]).read()
    page = bs4.BeautifulSoup(text, 'lxml')
    tableau = page.find('table',{'class':'infobox_v2 noarchive'})
    tableau_body = tableau.find('tbody')
    lignes = tableau_body.find_all('tr')

    # On webscrapp le nom du département
    
    nom_dep_html = lignes[0].find('td')
    nom_dep_elements = [item for item in nom_dep_html.contents if item.name != 'small'] # On retire les balises <small> qui correpondent aux sous-titres des départements (parfois traduction en breton)
    nom_dep_nouveau_html = bs4.BeautifulSoup('', 'lxml')
    nom_dep_nouveau_html.extend(nom_dep_elements)
    nom_dep_texte = nom_dep_nouveau_html.text.strip()
    nom_dep = re.sub(r'\([^)]*\)', '', nom_dep_texte)

    # On définie le numéro du département
    
    num_dep = url[1]

    # On webscrapp la population du département
    
    for ligne in lignes:
        cols1 = ligne.find_all('th')
        cols2 = ligne.find_all('td')
        cols = [ele.text.strip() for ele in cols1]+[elem.text.strip() for elem in cols2]
        if cols[0]=='Population' or cols[0]=='Populationmunicipale':
            population = re.sub(r'hab.*', '', cols[1])
    dico_dep[num_dep] = {'nom_dep': nom_dep, 'population': population}

# On transforme le dictionnaire en base de données

table_population = pd.DataFrame.from_dict(dico_dep,orient='index').reset_index()
table_population = table_population.rename(columns={'index' : 'Numero','nom_dep':'Nom','population':'Population'}) 

# On visualise la base de donnée

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
table_population.head()

  Numero                      Nom Population
0     01                      Ain   657 856
1     02                    Aisne   529 374
2     03                   Allier   335 628
3     04  Alpes-de-Haute-Provence   165 451
4     05             Hautes-Alpes   140 605

##### Niveau de vie médian en 2019 en euros

In [20]:
text = request.urlopen("https://www.insee.fr/fr/statistiques/6436484?sommaire=6036904#tableau-figure1_radio1").read()
page = bs4.BeautifulSoup(text, 'lxml')
tableau = page.find('table',{'class':'tableau-produit'})
tableau_body = tableau.find('tbody')
lignes = tableau_body.find_all('tr')

dico_niveau_vie={}
for ligne in lignes:
    nom_dep = ligne.find('th').text.strip()
    niveau_vie_dep = ligne.find('td').text.strip()
    dico_niveau_vie[nom_dep] = {'Niveau de Vie': niveau_vie_dep}

table_niveau_vie = pd.DataFrame.from_dict(dico_niveau_vie,orient='index').reset_index()
table_niveau_vie = table_niveau_vie.rename(columns={'index':'Nom'}) 
table_niveau_vie.head()

                       Nom Niveau de Vie
0                      Ain        23 490
1                    Aisne        19 880
2                   Allier        20 570
3          Alpes-Maritimes        22 300
4  Alpes-de-Haute-Provence        20 690

##### Logements vacants (tentative)

In [9]:
# Webscrapping des logements vacants

#text_logements_vacants = request.urlopen(url_5).read()
#page_logements_vacants = bs4.BeautifulSoup(text_logements_vacants, 'lxml')
#tableau_logements_vacants = page_logements_vacants.find('table', {'id': 'tm_datatable'})
#print(tableau_logements_vacants)
#tableau_body = tableau_logements_vacants.find('tbody')
#lignes = tableau_body.find_all('tr')

#dico_logements_vacants={}
#for ligne in lignes:
#    nom_dep = ligne.find('th').text.strip()
#    logements_vacants_dep = ligne.find('td').text.strip()
#    dico_logements_vacants[nom_dep] = {'Logements vacants': logements_vacants_dep}

#tableau_logements_vacants = pd.DataFrame.from_dict(dico_logements_vacants,orient='index').reset_index()
#tableau_logements_vacants = tableau_logements_vacants.rename(columns={'index':'Nom'}) 
#tableau_logements_vacants.head()

### Fusion des bases de données

##### Visualisation des dataframe a fusionner

In [15]:
table_conso.head()

,code_departement,libelle_departement,consototale,geom
0,01,Ain,9.921409e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
1,02,Aisne,8.628880e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
2,2A,Corse-du-Sud,1.008356e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
3,2B,Haute-Corse,1.003554e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."
4,03,Allier,6.912756e+06,"{'type': 'Feature', 'geometry': {'coordinates'..."

In [16]:
table_temperatures.head()

  code_insee_departement              departement       tmoy
0                     01                      Ain  11.875000
1                     02                    Aisne  11.237500
2                     03                   Allier  12.441667
3                     04  Alpes-de-Haute-Provence  13.133333
4                     05             Hautes-Alpes  11.062500

In [17]:
table_logements_vacants.head()

  code_departement          nom_departement logements_vacants_%
0               01                      Ain                 8.2
1               02                    Aisne                10.1
2               03                   Allier                14.9
3               04  Alpes-de-Haute-Provence                 8.3
4               05             Hautes-Alpes                 5.7

In [21]:
table_population.head()

  Numero                      Nom Population
0     01                      Ain   657 856
1     02                    Aisne   529 374
2     03                   Allier   335 628
3     04  Alpes-de-Haute-Provence   165 451
4     05             Hautes-Alpes   140 605

In [22]:
table_niveau_vie.head()

                       Nom Niveau de Vie
0                      Ain        23 490
1                    Aisne        19 880
2                   Allier        20 570
3          Alpes-Maritimes        22 300
4  Alpes-de-Haute-Provence        20 690

In [35]:
table_nb_entr_indus.head()

,code_departement,nom_departement,nb entreprises,nb entreprises industrielles
0,1,Ain,44428,3760
1,2,Aisne,24801,1922
2,3,Allier,20482,1689
3,4,Alpes-de-Haute-Provence,16590,1264
4,5,Hautes-Alpes,16271,1121

##### Renommage des colonnes

In [36]:
table_conso.columns=['code_departement','nom_departement','consommation','geom']
table_temperatures.columns=['code_departement','nom_departement','temperature']
table_logements_vacants.columns=['code_departement','nom_departement','logements_vacants_%']
table_population.columns=['code_departement','nom_departement','population']
table_niveau_vie.columns=['nom_departement','niveau_de_vie']
table_nb_entr_indus.columns=['code_departement','nom_departement','nb entreprises','nb entreprises industrielles']

##### Fusion deux par deux

In [34]:
# Fusion des tables
table_donnees = pd.merge(table_conso, table_temperatures, on=['code_departement', 'nom_departement'])
table_donnees = pd.merge(table_donnees, table_logements_vacants, on=['code_departement', 'nom_departement'])
table_donnees = pd.merge(table_donnees, table_population, on=['code_departement', 'nom_departement'])
table_donnees = pd.merge(table_donnees, table_niveau_vie, on='nom_departement')
table_donnees = pd.merge(table_donnees, table_nb_entr_indus, on=['code_departement','nom_departement'])  # Pourquoi on a plus que 85 données ? Il manque les 10 premières...

# Affichage du DataFrame fusionné
table_donnees

,code_departement,nom_departement,consommation,geom,temperature,logements_vacants_%,population,niveau_de_vie,nb entreprises,nb entreprises industrielles
0,2A,Corse-du-Sud,1.008356e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",16.800000,3.1,160 814,21 900,22014,1178
1,2B,Haute-Corse,1.003554e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",17.627500,3.3,182 887,20 150,21695,1536
2,10,Aube,5.152017e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.754167,9.5,311 435,20 580,18816,1574
3,11,Aude,3.513589e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.920833,8.2,375 217,19 550,30746,2013
4,12,Aveyron,2.661934e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",10.965000,10.9,279 554,20 850,21119,2413
5,13,Bouches-du-Rhône,4.698863e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",15.299167,7.6,2 048 070,21 650,216480,10957
6,14,Calvados,7.881622e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.462500,6.8,697 547,21 730,50141,3218
7,15,Cantal,1.122034e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",10.750000,11.7,144 379,20 690,9261,933
8,16,Charente,5.381140e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.329167,10.6,351 718,20 940,24035,2189
9,17,Charente-Maritime,6.035070e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.375000,7,655 709,21 540,56157,4097
10,18,Cher,3.349201e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.947500,12.9,300 933,21 090,16745,1564
11,19,Corrèze,2.400341e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.300000,11.1,239 190,21 170,16713,1631
12,21,Côte-d'Or,6.613806e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.012500,8.5,535 078,22 590,39211,2590
13,22,Côtes-d'Armor,7.375814e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.220000,8.5,603 640,21 450,37871,3064
14,23,Creuse,9.750654e+05,"{'type': 'Feature', 'geometry': {'coordinates'...",11.400000,15.9,115 995,19 690,7250,831
15,24,Dordogne,5.190313e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.990833,10.2,412 807,20 400,33927,2830
16,25,Doubs,6.314160e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.933333,8.6,545 209,22 750,33660,2818
17,26,Drôme,7.215111e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.670833,8.5,517 709,21 260,45765,3724
18,27,Eure,7.471919e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.550000,8.2,599 668,21 790,36818,2736
19,28,Eure-et-Loir,4.755195e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.890000,8.9,431 443,22 180,26388,1925
20,29,Finistère,1.123187e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.897500,7.4,917 179,21 970,54980,4482
21,30,Gard,7.753105e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.650833,8.6,751 457,20 240,66368,4488
22,31,Haute-Garonne,1.308565e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",14.450833,7.2,1 415 757,23 380,125485,6205
23,32,Gers,1.567916e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.954167,10.4,191 819,20 950,15763,1441
24,33,Gironde,1.691246e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",15.166667,6.3,1 636 391,22 640,159013,8085
25,34,Hérault,9.341600e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",15.000833,7.1,1 188 973,20 640,129337,7912
26,35,Ille-et-Vilaine,1.194723e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.720000,6.5,1 088 855,22 460,72970,4944
27,36,Indre,2.871766e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.779167,13.3,218 707,20 370,12026,1198
28,37,Indre-et-Loire,7.018212e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.162500,8.6,612 119,22 000,39731,2700
29,38,Isère,1.889210e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.768333,7.7,1 277 513,23 030,104982,7044
30,39,Jura,6.430222e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.254167,9.8,258 798,21 880,17987,1976
31,40,Landes,5.537920e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.833333,6.6,418 122,21 620,33731,2398
32,41,Loir-et-Cher,3.609055e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.610833,10.9,329 357,21 530,19363,1647
33,42,Loire,1.010775e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.930000,10.3,768 508,20 930,54147,4466
34,43,Haute-Loire,2.618258e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",8.895833,12.4,227 489,21 000,15495,1857
35,44,Loire-Atlantique,2.011770e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",13.717500,5.6,1 445 171,22 910,107757,7037
36,45,Loiret,1.058449e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.170833,9.1,682 304,22 050,40608,2533
37,46,Lot,1.379402e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.029167,10.7,174 670,20 940,14312,1334
38,47,Lot-et-Garonne,3.882786e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.850000,11.7,330 844,20 110,24554,2050
39,48,Lozère,5.026404e+05,"{'type': 'Feature', 'geometry': {'coordinates'...",9.354167,10.2,76 633,20 550,5419,616
40,49,Maine-et-Loire,8.488853e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.412500,6.6,820 713,21 300,49746,4181
41,50,Manche,6.256736e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.883333,8.3,495 093,21 250,27490,2311
42,51,Marne,1.073372e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.359167,9.2,566 659,21 750,35913,2799
43,52,Haute-Marne,2.385500e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.621667,11.9,171 798,20 420,8918,951
44,53,Mayenne,4.202070e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.645833,9.2,306 538,21 000,16851,1482
45,54,Meurthe-et-Moselle,1.860016e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.080000,9.3,732 590,21 790,42661,2892
46,55,Meuse,3.628897e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.091667,12.2,183 001,20 830,9259,957
47,56,Morbihan,8.369764e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.758333,7.1,764 161,21 830,53597,4404
48,57,Moselle,2.319605e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.075000,9.2,1 049 155,21 820,60842,4128
49,58,Nièvre,2.526894e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.970833,14,202 670,20 510,11894,1021
50,59,Nord,6.084635e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.345000,7.7,2 607 746,20 290,160904,9763
51,60,Oise,1.184050e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.168333,7.1,829 699,22 250,48290,3048
52,61,Orne,3.650394e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.820833,11.1,278 475,20 350,15812,1489
53,62,Pas-de-Calais,2.404316e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.454167,7.5,1 462 167,19 560,72115,4893
54,63,Puy-de-Dôme,8.702380e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.100000,10.5,661 852,22 100,45812,3578
55,64,Pyrénées-Atlantiques,7.576856e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.853333,7.9,687 240,22 110,62547,4193
56,65,Hautes-Pyrénées,2.935354e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.183333,9.5,229 788,20 720,18738,1327
57,66,Pyrénées-Orientales,3.523121e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",15.935833,8.2,482 765,19 610,43317,2465
58,67,Bas-Rhin,1.774335e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.629167,7.9,1 148 073,22 860,87369,6025
59,68,Haut-Rhin,2.088730e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.622500,9,767 842,23 300,49701,3770
60,70,Haute-Saône,2.431448e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.145833,10.7,234 601,20 840,13189,1367
61,71,Saône-et-Loire,9.007185e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.345000,10.2,551 063,21 000,34613,2986
62,72,Sarthe,6.970555e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.366667,9.1,566 993,21 210,28711,2296
63,73,Savoie,9.670893e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.236667,6,439 750,23 210,48016,2629
64,74,Haute-Savoie,9.540469e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",9.966667,6.5,835 206,26 540,79308,4503
65,75,Paris,2.303108e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",13.500000,9.2,2 145 906,28 570,551111,18214
66,76,Seine-Maritime,3.964456e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.740833,8.1,1 254 739,21 300,71690,4528
67,77,Seine-et-Marne,2.095894e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.233333,6.8,1 428 636,23 590,104549,5243
68,78,Yvelines,1.757991e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.999167,6.4,1 449 723,26 970,122951,4566
69,79,Deux-Sèvres,3.987915e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.558333,9.2,374 481,21 080,20948,1884
70,80,Somme,9.736246e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.265833,8.4,568 748,20 540,30013,2161
71,81,Tarn,3.959374e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.183333,9.1,391 066,20 650,29664,3025
72,82,Tarn-et-Garonne,2.188774e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.858333,9.7,262 316,20 380,19157,1337
73,83,Var,8.243725e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",16.302500,6,1 085 189,21 830,120400,6274
74,84,Vaucluse,6.147596e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",14.166667,10.2,561 941,20 140,58258,3737
75,85,Vendée,7.881951e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",13.690833,5,692 705,21 550,45176,4184
76,86,Vienne,4.159427e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.883333,9.5,439 332,21 140,25802,2145
77,87,Haute-Vienne,4.615642e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.370833,9.7,372 123,21 100,23206,1878
78,88,Vosges,7.138181e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.295000,11.3,362 397,20 420,24132,2550
79,89,Yonne,4.315886e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",12.033333,12,334 156,20 920,20642,1750
80,90,Territoire de Belfort,1.794259e+06,"{'type': 'Feature', 'geometry': {'coordinates'...",11.347500,10.7,140 120,22 050,7948,550
81,91,Essonne,1.493475e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.729167,6.6,1 306 118,24 010,99999,4060
82,92,Hauts-de-Seine,1.754245e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",11.945833,6.5,1 626 213,28 310,184050,5866
83,93,Seine-Saint-Denis,1.763257e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.387500,6.1,1 655 422,18 070,166334,6232
84,94,Val-de-Marne,1.577245e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.729167,5.8,1 407 972,23 060,124574,4058
85,95,Val-d'Oise,1.222538e+07,"{'type': 'Feature', 'geometry': {'coordinates'...",12.043333,6,1 251 804,22 220,105422,4267

## Exploration Initiale

# 3. Nettoyage et Préparation des Données

## Nettoyage des Données

## Formatage et Normalisation

# 4. Analyse Exploratoire des Données (EDA)

## Statistiques Descriptives

## Visualisations

# 5. Analyse et Visualisation par Secteur et par Département

## Comparaison par Secteur

## Analyse Géographique

# 6. Modélisation et Prédictions

## Choix des Modèles

## Entraînement et Test

# 7. Évaluation des Résultats

## Interprétation des Modèles

## Mesures de Performance

# 8. Synthèse et Recommandations

## Conclusions Clés

## Recommandations